
<h1>Listing My friends</h1>

<br />

<div class = "form-field">
<table name = cellspacing = 25 cellpadding = 10>
  <tr>
    <th>Name</th>
    <th>Since</th>
    <th>Comment</th>
    <th>Group</th>
  </tr>

<% @friends.each do |friend| %>
    <tr>
    <td><%=h friend.name %></td>
    <td><%=h friend.since %></td>
    <td><%=h friend.comment %></td>
    <td><%=h friend.group %></td>
    <td><%= link_to 'Show', friend %></td>
    <td><%= link_to 'Edit', edit_friend_path(friend) %></td>
    <td><%= link_to 'Destroy', friend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<!--Displaying my groups-->
<h2>My Groups</h2>
<table class = "group">
<% @groups.each do |group| %>
    <tr>
    <td><%=h group %></td>
    </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New friend', new_friend_path %>